*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
}

#navBar{
    background-color: black;
    height: 50px;

}

#logo{
    font-size: 25px;
    color: rgba(255, 255, 0, 0.452);
    text-decoration: none;
}

.anchor{
    margin: 0px 180px 0px 180px;
    text-decoration: none;
}

button{
    background-color: rgba(255, 217, 0, 0.39);
    width: 100px;
    height: 25px;
    
}

input{
    height: 25px;
    border-radius: 4px;
    padding: 0px 0px 0px 20px;
}

