*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#btnforC:active{
     background-color:#FFBF00;
}

div{
    margin: 20px;
    background-color: burlywood;
    height: 40px;
    width: 50px;

}